/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
    color: #333;
}

/* Container for comparing results */
#compare-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    margin-bottom: 30px;
}

/* Date header styling */
.results-date-header {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

/* User result container styling */
.user-container {
    width: 90%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.user-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

/* Layout for username, time, and score */
.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    color: #333;
    padding: 0 0 20px;
}

.username {
    font-weight: bold;
    color: #000;
}


.solve-time {
    font-size: 0.9em;
    color: #666;
}

.score {
    font-weight: bold;
    color: #ff9800;
}

/* Game grid for guesses */
.game-grid {
    display: grid;
    gap: 10px;
    justify-content: center;
}

.letter-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    transition: background-color 0.3s;
}

.letter-box.correct {
    background-color: green;
    color: white;
}

.letter-box.misplaced {
    background-color: #c9a228;
    color: white;
}

.letter-box.incorrect {
    background-color: gray;
    color: white;
}

/* Navigation button */
.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.home-button img {
    width: 30px;
    height: 30px;
}

/* Capture section */
#captureSection {
    /* Adjust your capture section styling as needed */
    position: relative;
}

 
#shareButton {
width: 30px; 
height: 30px;
cursor: pointer;
padding: 2px; 
z-index: 10; 
transition: transform 0.3s ease; /* Hover effect */
text-align: center;
}

#shareButton:hover {
transform: scale(1.1); /* Slightly enlarge on hover */
}


.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.nav-arrow {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 10px;
    color: #333;
}

.nav-arrow:hover {
    color: #000;
}

.results-date-header {
    font-size: 1.5em;
    color: #333;
    margin: 0 10px;
}
