#game-container {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }

  .letter-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    font-family: 'Arial', sans-serif;
  }

  #keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .keyboard-row {
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .key {
    width: 45px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    background-color: lightgray;
    text-transform: uppercase;
    border: none;
    transition: background-color 0.1s;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }

  .key:active {
    background-color: darkgray;
  }

  .key.enter {
    width: 75px;
  }

  .key.backspace {
    width: 75px;
    font-size: 24px;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
  }

  #nav-links {
    text-align: center;
    margin-top: 10px;
  }

  #nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
  }

  #row-2 {
    margin-left: 25px; /* Default margin */
}

  /* Existing styles adjusted for mobile */
@media (max-width: 768px) {
  .key {
    width: 30px; /* Reduce width for mobile screens */
    height: 45px; /* Slightly reduce height */
    font-size: 14px; /* Make the font size smaller to match the reduced key size */
  }

  .key.enter{
    width: 55px; /* Reduce width for larger keys */
    font-size: 12px;
  }

  .key.backspace {
    width: 55px; /* Reduce width for larger keys */
    font-size: 15px;
  }

  #keyboard {
    gap: 3px; /* Reduce gap between keys for smaller screens */
  }

  .keyboard-row {
    gap: 3px; /* Match reduced key gap */
  }
  #row-2 {
    margin-left: 15px; /* Reduced margin for smaller screens */
  }
}
