/* Base Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fafc;
    color: #333;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* Home Button */
.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
}
.home-button img {
    width: 30px;
    height: 30px;
}

/* Stats Summary and Average Stats */
#stats-summary, #average-stats {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px auto;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    max-width: 90%;
    flex-wrap: wrap;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Stats Text */
#stats-summary p, #average-stats p {
    margin: 0;
}
#stats-summary p span, #average-stats p span {
    display: inline-block;
    font-size: 1.8em;
    font-weight: 600;
    margin-left: 5px;
    color: #4a90e2;
}

/* Guess Distribution */
#guess-distribution {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.bar {
    box-sizing: border-box;
    height: 30px;
    background-color: #6cbf84;
    text-align: left;
    padding-left: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    
}


.bar:hover {
    background-color: #56a76f;
}
/* Section Headers */
h1, h2 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

#guess-distribution .bar-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#guess-distribution .label {
    margin-right: 5px;
    font-weight: bold;
    width: 100px; /* Default width */
    text-align: right;
}


/* Mobile Styles */
@media (max-width: 600px) {
    #guess-distribution .label {
        width: 50px; /* Smaller width for mobile */
    }

    #stats-summary, #average-stats {
        gap: 15px;
        font-size: 0.9em;
        padding: 15px;
    }
    #stats-summary p span, #average-stats p span {
        font-size: 1.5em;
    }
    .home-button {
        top: 5px;
        left: 5px;
    }
    .home-button img {
        width: 28px;
        height: 25px;
    }
    .bar {
        height: 25px;
        padding-left: 8px;
    }
}
